#header-block {
    color           : @text-main;
    background-color: @bg-main;
    margin          : @padding-normal @padding-normal @padding-small 0;
    width           : 150px;
    height          : 150px;
    text-align      : center;
    vertical-align  : middle;
    position        : relative;
    z-index         : 1000;

    a {
        text-decoration: none;

        h1 {
            margin         : 0;
            padding-top    : 64px;
            font-size      : 36px;
            font-family    : Arial, Helvetica, sans-serif;
            text-decoration: none;
        }
    }
}

#header-menu {
    float     : left;
    margin-top: 5%;
    z-index   : 1000;

    a,
    a:active,
    a:focus,
    a:link,
    a:visited {
        margin     : @padding-normal @padding-normal 0 0;
        line-height: 2em;
    }

    a.active {
        text-decoration: none;
        font-weight    : 700;
    }
}
