#background-video {
    z-index          : -5;
    background-repeat: no-repeat;
    background-size  : cover;
}

/* Mobile */
@media screen and (max-device-width: 800px) {
    body {
        background-image     : url('assets/img/stills/start-mobile.jpg');
        background-color     : @bg-main;
        background-repeat    : no-repeat;
        background-position  : center center;
        background-attachment: fixed;
    }

    #background-video {
        display: none;
    }
}

.background-video {
    position         : fixed;
    top              : 50%;
    left             : 50%;
    min-width        : 100%;
    min-height       : 100%;
    width            : auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform        : translateX(-50%) translateY(-50%);
    height           : auto;
}

videogular {
    video {
        .background-video;
    }
}
