#background-video {
    z-index        : -5;
    background     : url('assets/img/stills/start.jpg') no-repeat; // TODO: Make dynamic.
    background-size: cover;
}

/* Mobile */
@media screen and (max-device-width: 800px) {
    body {
        background: url('assets/img/stills/start-mobile.jpg') #000 no-repeat center center fixed;
    }

    #background-video {
        display: none;
    }
}

.background-video {
    position         : fixed;
    top              : 50%;
    left             : 50%;
    min-width        : 100%;
    min-height       : 100%;
    width            : auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform        : translateX(-50%) translateY(-50%);
    height           : auto;
}

videogular {
    video {
        .background-video;
    }
}
