<div class="row">
    <div class="col-xs-12 col-sm-7 col-sm-offset-3 col-lg-8 col-lg-offset-2 play-list-mode text-center">
        <a ng-click="setPlaylistMode(false)" ng-class="{'active': !playlistMode && playlistModeSelected}">
            it's on you.
            <div class="play-list-mode-switcher"></div>
        </a>
        <a ng-click="setPlaylistMode(true)"  ng-class="{'active':  playlistMode && playlistModeSelected}">
            <div class="play-list-mode-switcher"></div>
            it's on us.
        </a>
    </div>
</div>

<br>

<div class="row" uib-collapse="!playlistModeSelected">

    <div class="col-xs-12 col-sm-7 col-sm-offset-3 col-lg-8 col-lg-offset-2">
        <div class="songs">
            <div class="song" ng-repeat="song in songs">
                <div class="song-block"
                    ng-click="selectSong(song)"
                    ng-style="{'background-position': ($index * -50) + 'px 50%'}"
                    ng-class="{
                        'active': currentSong === song,
                        'disabled': playlistMode
                    }">
                    <div class="song-progress"
                        ng-if="currentSong === song"
                        ng-style="{'width': song.percentage + '%'}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<br>

<div class="row" uib-collapse="!playlistModeSelected || !currentSong">

    <div class="col-xs-2 col-sm-2 col-sm-offset-3 col-lg-1 col-lg-offset-2">
        <button type="button" class="btn-player pull-right" ng-click="playPause(currentSong)">
            <i class="fa"
                ng-class="{
                    'fa-ellipsis-h': isLoading,
                    'fa-play':  !isLoading && !isPlaying,
                    'fa-pause': !isLoading &&  isPlaying
                }">
            </i>
        </button>
        <audio id="audio-player" preload="auto">
            <source src="" type="audio/mpeg" id="mp3-source">
            <source src="" type="audio/ogg"  id="ogg-source">
        </audio>
    </div>

    <div class="col-xs-10 col-sm-7 col-lg-8">
        <h2>{{currentSong.name}}</h2>
        <p ng-bind-html="currentSong.lyrics"></p>
    </div>

</div>
