.play-list-mode {
    a {
        &.active {
            font-weight    : 700;
            text-decoration: none;
        }
    }

    &-switcher {
        display      : inline-block;
        width        : 20px;
        height       : 12px;
        border       : 1px solid @text-main;
        box-shadow   : 1px 1px 2px 0 rgba(0,0,0,0.65);
        margin-bottom: -2px;

        &:nth-of-type(0n+1) {
            margin-left       : @padding-small;
            border-right-width: 0;
        }

        &:nth-of-type(0n+2) {
            margin-right: @padding-small;
        }

        &:hover {
            background-color: rgba(255,255,255,0.2);
        }

        &.active,
        &.active:hover {
            background-color: @text-main;
            border-color    : @text-main;
        }
    }
}

.btn-player {
    &,
    &:active {
        width           : 30px;
        height          : 30px;
        border          : none;
        background-color: @bg-main;
        font-size       : 1.2em;
        color           : @text-main;
        outline         : none;
    }

    &:hover {
        color           : @text-main;
        background-color: @bg-main-bright;
        outline         : none;
    }
}

.songs {
    display       : flex;
    flex-direction: row;
    width         : auto;
    overflow-x    : scroll;
    // overflow-y: hidden;

    .song {
        display       : flex;
        flex-direction: column;
        flex          : 1 1 auto;
        min-width     : 50px + 10px;

        .song-block {
            // opacity         : 0.5;
            // color           : @text-main;
            background-image: url('assets/img/song-icons.png');
            background-size : 350px 50px;
            text-align      : center;
            background-color: @bg-main;
            width           : 50px;
            height          : 50px;
            position        : relative;
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            align-content   : center;

            &.disabled {
                opacity: 0.5;
            }

            &:hover:not(.disabled) {
                color           : @text-muted;
                background-color: @bg-main-bright;
            }

            &.active,
            &.active:hover {
                opacity         : 1.0;
                color           : @text-main;
                background-color: @bg-main-bright;
            }

            .song-progress {
                background-color: @text-main;
                opacity         : 0.1;
                height          : 50px;
                position        : absolute;
                top             : 0;
            }
        }
    }
}
