<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
        <p class="play-list-mode">
            <a ng-click="setPlaylistMode(false)" ng-class="{'active': !playlistMode && playlistModeSelected}">it's on you.</a>
            <a ng-click="setPlaylistMode(true)"  ng-class="{'active':  playlistMode && playlistModeSelected}">it's on us.</a>
        </p>
    </div>
</div>

<br>

<div class="row" uib-collapse="!playlistModeSelected">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="songs">
            <div class="song" ng-repeat="song in songs">
                <div class="song-block" ng-click="selectSong(song)" ng-class="{'active': currentSong === song}">
                    {{$index+1}}
                    <div class="song-progress" ng-style="{'width': song.percentage + '%'}"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<br>

<div class="row" uib-collapse="!playlistModeSelected || !currentSong">

    <div class="col-xs-2 col-sm-1 col-sm-offset-3">
        <button type="button" id="btn-player" class="btn-player pull-right" ng-click="play(currentSong)">
            <i class="fa" ng-class="{'fa-play': !isPlaying, 'fa-pause': isPlaying}"></i>
        </button>
        <audio id="audio-player" preload="auto">
            <source src="" type="audio/mpeg" id="mp3-source">
            <source src="" type="audio/ogg"  id="ogg-source">
        </audio>
    </div>

    <div class="col-xs-10 col-sm-8">
        <h2>{{currentSong.name}}</h2>
        <p ng-bind-html="currentSong.lyrics"></p>
    </div>

</div>
