@import '../../node_modules/bootstrap/less/bootstrap.less';
@import '../../node_modules/font-awesome/less/font-awesome.less';
@import (inline) '../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css';
@import (inline) '../../node_modules/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css';
@import 'normalize.less';
@import 'variables';
@import 'animations';
@import '../app/header/header.less';
@import '../app/start/start.less';
@import '../app/info/info.less';
@import '../app/live/live.less';
@import '../app/physical/physical.less';
@import '../app/video/video.less';

body,
html {
    width                 : 100%;
    height                : 100vh;
    color                 : @text-main;
    text-shadow           : 1px 1px 1px @bg-main;
    font-family           : 'Montserrat', Arial, sans-serif;
    font-size             : @text-size-normal;
    letter-spacing        : 0.1em;
    line-height           : 1.5em;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    background-color: @bg-main;
}

a {
    &,
    &:active,
    &:focus,
    &:link,
    &:visited {
        color          : @text-main;
        text-decoration: underline;
    }

    &:hover {
        color          : @text-main;
        text-decoration: none;
    }
}

h1 {
    font-weight    : normal;
    font-size      : @text-size-normal;
    text-decoration: underline;
}

h2 {
    font-weight    : normal;
    font-size      : @text-size-normal;
    margin         : 0.5em 0;
    text-decoration: underline;
}

hr {
    border-color: @text-muted;
}

table {
    tr {
        td {
            vertical-align: top;
            padding       : 0 @padding-small 0 0;
        }
    }
}

video {
    display: block; // for IE8
}

.no-underline {
    text-decoration: none !important;
}

[ng-click],
[ui-sref] {
    cursor: pointer;
}

/* Desktop */
@media screen and (min-device-width: 801px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }
}

/* Mobile */
@media screen and (max-device-width: 800px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}
