.physical-item {
    width        : auto;
    height       : auto;
    max-width    : 100%;
    max-height   : 150px;
    border       : @padding-tiny solid @text-main;
    margin-bottom: @padding-tiny;
}

.modal-content {
    .lightbox-image-container {
        margin-top: -5px;

        img {
            border-radius: @padding-tiny;
        }
    }

    .lightbox-navigation {
        color      : @bg-main;
        text-shadow: none;

        a {
            &,
            &:active,
            &:focus {
                color      : @bg-main;
                text-shadow: none;
            }

            &:hover {
                color     : @bg-main-bright;
                background: none;
            }
        }
    }
}
