<div class="row">

    <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <p class="">
            Hier stehen bald zwei S&auml;tze zur Erkl&auml;rung und zum Bestellablauf.
            <br><br>
        </p>
    </div> -->

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <a ng-click="openModal('poster')">
                            <img src="assets/img/shop/poster-preview.jpg" alt="poster" class="physical-item">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-7">
                        <h2 ng-click="openModal('poster')">poster</h2>
                        (30x40 cm)<br>
                        5 &euro;<br>
                        +shipping
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <a ng-click="openModal('disc')">
                            <img src="assets/img/shop/disc-preview.jpg" alt="disc" class="physical-item">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-7">
                        <h2 ng-click="openModal('disc')">disc</h2>
                        (7 tracks)<br>
                        8 &euro;<br>
                        +shipping
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <p class="">
            <br>
            order via <a href="mailt&#111;&#58;%69%&#54;E&#102;o&#64;u&#110;ru%68&#101;&#46;o&#114;g">mail</a>.
        </p>
    </div>

</div>
