<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-2">
        <h1>upcoming</h1>
        <p ng-if="!(events | filter:{inPast:false}).length">
            &hellip;
        </p>
        <table>
            <tr ng-repeat="event in events | filter:{inPast:false} | orderBy:'number' track by $index">
                <td>{{::event.number}}</td>
                <td>{{::event.date | date:'dd.MM.yyyy'}}</td>
                <td>
                    {{::event.location}}
                    <span ng-if="event.support">
                        <br class="responsive-br">
                        (+ {{::event.support}})
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5">
        <h1>past</h1>
        <table>
            <tr ng-repeat="event in events | filter:{inPast:true} | orderBy:'-number' track by $index">
                <td>{{::event.number}}</td>
                <td>{{::event.date | date:'dd.MM.yyyy'}}</td>
                <td>
                    {{::event.location}}
                    <span ng-if="event.support">
                        <br class="responsive-br">
                        (+ {{::event.support}})
                    </span>
                </td>
            </tr>
        </table>
    </div>

</div>
